<div ng-controller="BudgetCtrl" class="row">
    <div class="col-md-6 card">
        <div class="card-header">
            <h3>Budget Incomes</h3>
        </div>
        <div class="card-body">
              <table class="table table-responsive table-hover">
                  <thead>
                      <th>Source</th>
                      <th>Amount</th>
                  </thead>
                  <tbody>
                      <tr ng-repeat="sGuid in vm.sources">
                          <td>{{vm.sources[sGuid].name}}</td>
                          <td>{{vm.sources[sGuid].amount}}</td>
                      </tr>
                  </tbody>
              </table>
        </div>
    </div>
    <div class="col-md-6 card">
        <div class="card-header">
            <h3>Budget Expenses</h3>
        </div>
        <div class="card-body">
            <div class="card" ng-repeat="dGuid in vm.departments">
                <div class="card-header">
                    <h3>{{vm.departments[dGuid].title}}</h3>
                </div>
                <div class="card-body">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <th>Line Item</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="liGuid in vm.departments[guid].lineItems">
                                <td>{{vm.departments[guid].lineItems[liGuid].name}}</td>
                                <td>{{vm.departments[guid].lineItems[liGuid].amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
