<div ng-controller="EventDiagnosticsCtrl">
    <div class="card">
        <div class="card-header">
            <h3>Event Diagnostics</h3>
        </div>
        <div class="card-body">
            <table class="table table-sm table-hover table-bordered events-container">
                <thead>
                    <th scope="col" class="width-50" ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'">&nbsp;</th>
                    <th scope="col" class="width-50" ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'">&nbsp;</th>
                    <th scope="col" class="event-table-header" ng-click="sortByName()">
                        Event Name
                        <i class="fa fa-sort-asc table-sort" ng-show="vm.sortedBy === 'name'"></i>
                        <i class="fa fa-sort-desc table-sort" ng-show="vm.sortedBy === 'name-reverse'"></i>
                    </th>
                    <th scope="col" class="event-table-header" ng-click="sortByDate()">
                        Date
                        <i class="fa fa-sort-asc table-sort" ng-show="vm.sortedBy === 'date'"></i>
                        <i class="fa fa-sort-desc table-sort" ng-show="vm.sortedBy === 'date-reverse'"></i>
                    </th>
                    <th scope="col" class="event-table-header" ng-click="sortByType()">
                        Event Type
                        <i class="fa fa-sort-asc table-sort" ng-show="vm.sortedBy === 'type'"></i>
                        <i class="fa fa-sort-desc table-sort" ng-show="vm.sortedBy === 'type-reverse'"></i>
                    </th>
                    <th scope="col" class="width-50" ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'">&nbsp;</th>
                </thead>
                <tbody>
                    <tr ng-repeat="event in vm.events">
                        <td scope="row" class="text-center"><i class="fa fa-bars" title="View/Edit"
                               ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'"
                               ng-click="vm.editEvent(event.$id)"></i></td>
                        <td scope="row" class="text-center"><i class="fa fa-times" title="Delete"
                               ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'"
                               ng-click="vm.deleteEvent(event.$id)"></i></td>
                        <td>{{event.name}}</td>
                        <td>{{event.date | date:'MM/dd/yyyy'}}</td>
                        <td>{{event.eventType}}</td>
                        <td scope="row" class="text-center">
                            <i class="fa fa-exclamation" title="Incomplete" ng-show="!checkIfFormCompleted(event)"></i>
                            <i class="fa fa-check" title="Complete" ng-show="checkIfFormCompleted(event)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-show="permission === 'chair' || permission === 'officer' || permission === 'financial officer' || permission === 'admin'"
                ng-click="vm.addEvent()">Add Event</button>
        </div>
    </div>
</div>
