<div ng-controller="HomeCtrl">
    <div class="text-center">
        <blockquote class="display-3">
            Triangle Fraternity at Georgia Tech
        </blockquote>
        <div class="row">
            <div class="col-3 text-right">
                <img class="image" src="/sources/images/logo.png" />
            </div>
            <div class="col-6 text-center">
                <img class="image" src="/sources/images/home_page.png" />
            </div>
            <div class="col-3 text-left">
                <img class="image" src="/sources/images/buzz.png" />
            </div>
        </div>
    </div>
</div>
