<div ng-controller="TransactionsCtrl">
    <div class="card">
        <div class="card-header">
            <h3>Transactions</h3>
        </div>
        <div class="card-body">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <th scope="col" class="width-100" ng-show="permission === 'financial officer' || permission === 'admin'">Edit</th>
                    <th scope="col" class="width-100" ng-show="permission === 'financial officer' || permission === 'admin'">Delete</th>
                    <th scope="col" class="width-200" ng-click="sortByFrom()">From <span ng-show="vm.sortedBy === 'from'"><i class="fa fa-caret-up" ng-show="vm.up"></i><i class="fa fa-caret-down" ng-show="!vm.up"></i></span></th>
                    <th scope="col" class="width-200" ng-click="sortByTo()">To <span ng-show="vm.sortedBy === 'to'"><i class="fa fa-caret-up" ng-show="vm.up"></i><i class="fa fa-caret-down" ng-show="!vm.up"></i></span></th>
                    <th scope="col" class="width-150" ng-click="sortByAmount()">Amount <span ng-show="vm.sortedBy === 'amount'"><i class="fa fa-caret-up" ng-show="vm.up"></i><i class="fa fa-caret-down" ng-show="!vm.up"></i></span></th>
                    <th scope="col" class="width-150" ng-click="sortByDate()">Date <span ng-show="vm.sortedBy === 'date'"><i class="fa fa-caret-up" ng-show="vm.up"></i><i class="fa fa-caret-down" ng-show="!vm.up"></i></span></th>
                    <th scope="col" ng-click="sortByMemo()">Memo <span ng-show="vm.sortedBy === 'memo'"><i class="fa fa-caret-up" ng-show="vm.up"></i><i class="fa fa-caret-down" ng-show="!vm.up"></i></span></th>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in vm.transactions">
                        <th scope="row" class="text-center"
                        ng-show="permission === 'financial officer' || permission === 'admin'">
                        <i class="fa fa-bars"
                        ng-click="vm.editTransaction(transaction.$id)"></i></td>
                        <th scope="row" class="text-center"
                        ng-show="permission === 'financial officer' || permission === 'admin'">
                        <i class="fa fa-times"
                        ng-click="vm.deleteTransaction(transaction.$id)"></i></td>
                        <td>{{transaction.from}}</td>
                        <td>{{transaction.to}}</td>
                        <td>{{transaction.amount | currency}}</td>
                        <td>{{transaction.date}}</td>
                        <td>{{transaction.memo}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-show="permission === 'financial officer' || permission === 'admin'"
            ng-click="vm.addTransaction()">Add Transaction</button>
        </div>
    </div>
</div>
